.login-popup {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #00000090;
    display: grid;
}

.login-popup-container {
    place-self: center;
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: white;
    width: max(25vw, 330px);
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 14px;
    animation: fadeIn 0.5s;
}

.login-popup-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.login-popup-title img {
    width: 16px;
    cursor: pointer;
}

.login-popup-inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-popup-inputs input {
    padding: 10px;
    outline: none;
    border: 1px solid #c9c9c9;
    border-radius: 4px;
}

.btn {
    padding: 10px;
    background-color: tomato;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.login-popup-condition {
    display: flex;
    align-items: start;
    gap: 8px;
    margin-top: -15px;
}

.checkbox {
    margin-top: 5px;
}

.login-popup p span {
    color: tomato;
    font-weight: 500;
    cursor: pointer;
}