@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #fcfcfc;
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  background-color: #a9a9a9;
  height: 1px;
  border: none;
}

.app-content {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 20px;
}