.header {
    height: 34vw;
    margin: 30px auto;
    background: url('/header_img.png') no-repeat;
    background-size: contain;
    position: relative;
}

.header-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 50%;
    gap: 1.5vw;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
}

.heading {
    color: white;
    font-size: max(4.5vw, 22px);
    font-weight: 500;
}

.para {
    color: white;
    font-size: 1vw;
}

.view-menu {
    background-color: white;
    border: none;
    border-radius: 50px;
    padding: 1vw 2.3vw;
    font-size: max(1vw, 13px);
    cursor: pointer;
}

@media (max-width:1050px) {


    .header-content {
        width: 45%;
    }
}

@media (max-width:750px) {

    .header-content {
        max-width: 65%;
    }

    .header-content p {
        display: none;
    }

    .view-menu {
        padding: 2vw 4vw;
    }
}