.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.navbar .logo {
    width: 150px;
}

.items {
    list-style: none;
    display: flex;
    gap: 20px;
    color: #49557e;
    font-size: 20px;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 30px;
}

.navbar .active {
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
}

.signin-button {
    background: transparent;
    color: #49557e;
    border: 1px solid #49557e;
    border-radius: 50px;
    cursor: pointer;
    padding: 10px 30px;
    transition: 0.3s;
}

.signin-button:hover {
    background-color: #fff4f2;
}

.basket-icon {
    position: relative;
}

.basket-icon .dot {
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    border-radius: 5px;
    background-color: tomato;
    top: -8px;
    right: -10px;
}

.navbar-profile {
    position: relative;
}

.nav-profile-dropdown {
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;
}

.navbar-profile:hover .nav-profile-dropdown {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff2ef;
    padding: 12px 25px;
    border-radius: 4px;
    border: 1px solid tomato;
    outline: 2px solid white;
    list-style: none;
}

.nav-profile-dropdown li {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.nav-profile-dropdown img {
    width: 20px;
}

.nav-profile-dropdown li:hover {
    color: tomato;
}

@media (max-width:1050px) {
    .navbar .logo {
        width: 140px;
    }

    .items {
        gap: 20px;
        font-size: 17px;
    }

    .navbar-right {
        gap: 30px;
    }

    .navbar-right .img {
        width: 22px;
    }

    .signin-button {
        padding: 8px 25px;
    }

}

@media (max-width:950px) {
    .navbar .logo {
        width: 120px;
    }

    .items {
        gap: 20px;
        font-size: 16px;
    }

    .navbar-right {
        gap: 20px;
    }

    .navbar-right .img {
        width: 20px;
    }

    .signin-button {
        padding: 7px 20px;
    }

}

@media (max-width:700px) {
    .items {
        display: none;
    }


}