.place-order {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 50px;
    margin-top: 100px;
}

.place-order-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.place-order-left input {
    padding: 15px;
    border: 1px solid #c5c5c5;
    border-radius: 4px;
    width: 100%;
    outline-color: tomato;
    margin-bottom: 15px;
}

.multi-field {
    display: flex;
    gap: 10px;
}

.place-order-right {
    width: 100%;
    max-width: max(40%, 500px);
}

.place-order .cart-total button {
    margin-top: 30px;
}

.checkout-btn {
    cursor: pointer;
}

@media (max-width:750px) {
    .place-order {
        display: flex;
        flex-direction: column;
    }
}